.menuItem {
  padding-right: 40px;
  color: var(--color-text-primary);
  font-size: 20px;
  font-weight: 500;
  letter-spacing: normal;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.menuItem svg {
  margin-right: 8px;
}

.menuItem:hover {
  color: var(--color-turquoise);
}

.activeMenuItem {
  composes: menuItem;
  color: var(--color-primary-accent);
}
