.header {
  height: 80px;
  padding: 20px;
  box-shadow: var(--shadow-panel);
  min-width: 0;
  position: sticky;
  top: 0;
  z-index: 100;
  background: var(--color-bg-white);
}

.innerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Lexend Deca';
}

.logInButton {
  border-radius: 15px;
  background: var(--color-primary);
  padding: 6px 10px;
  color: var(--color-bg-white);
  cursor: pointer;

  &:hover {
    background: var(--color-turquoise);
  }
}
