@tailwind base;
@tailwind components;
@tailwind utilities;

.menu-item {
  padding-right: 40px;
  color: rgb(33, 51, 67);
  font-size: 20px;
  font-weight: 500;
  letter-spacing: normal;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.menu-item svg {
  margin-right: 8px;
}

.menu-item:hover {
  color: rgb(0, 95, 163);
}

.active {
  color: rgb(255, 69, 0);
}

.test {
  color:rgb(80, 201, 173)
}

.menu-open-icon-button {
  display: none;
}

.menu-item-arrow-right {
  position: absolute;
  right: 8px;
}

@media (max-width: 1100px) {

  .menu-box, .log-in-button {
    display: none;
  }

  .menu-open-icon-button {
    display: block;
  }

  .menu-item {
    margin-left: 16px;
  }
}